
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

*{
    margin: 0px;
}
body
    {background-image: url(images/arch.jpg);
    background-size: cover;}

#header{
    width: 100%;
    height: 80px;
    margin-top: -15px;
    position: sticky;
    }
   

#header h1{
    color: black;
    font-size: 32px;
    font-family: 'Righteous', cursive;
    font-weight: normal;
    padding: 22px;
    margin-left: 4px;
 
  
  }


#header  ul{
      float: right;
      width: auto;
      margin-top: -58px;
}
 
#header ul li{
display: inline-block;
margin: auto;
}

#header ul li a{
    color: black;
    float: right;
    text-align: center;
    margin-top: 7px;
    font-size: 19px;
    margin-right: 15px;
   text-decoration: none;
   font-family: sans-serif;
}
#header ul li a:hover{
    color: thistle;
}
.content h1{
    margin-left: 200px;
    margin-top: 180px;
    line-height: 65px;
    font-size: 60px;
    padding: 5px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: normal;
    
}
.para1{
    font-size: 18px;
    line-height: 35px;
    margin-top: -26px;
    opacity: 0.5;
    margin-left: 200px;
}
.icons{
    align-items: baseline;
    display: flex;
    margin-left: 200px;
    
    
}
   
.button{
    color:white; 
    padding: 18px;
    border-radius: 0.25rem;
    background-color:#96bb7c ;
    border: none;
    font-size: 15px;
    margin-top: -30px;

    
   
}
#button2{
    font-size:48px;
    color:#96bb7c;
    font-size: 65px;
    margin-right: -10px;
    margin-left: 20px;
    align-items: center;
}
.watch{
    margin-right: 45px;
}
.container{
    background-color: #96bb7c;
    margin-top: 230px;
    width: 100%;
    
}
.container h2{
    color: white;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    
}
.para2{
    color: white;
    font-size: 15px;
}
.first{
    background-color: #96bb7c;
  display: flex;
    width: 100%;
    align-items: center;
    padding: 30px;
}
.sub1, .sub2, .sub3, .sub4{
    background-color: #96bb7c;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 20px;
  
}
h2{
    padding: 20px;
}


